<h1/>
  <%= @article.title %>
</h1>

<p/>
<%= @article.body %>
</p> 
Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
<%= render partial: 'comments/form' %>
<p>
<br/>
<h2/>Comment Section (<%= @article.comments.size %>)</h2>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br/>
<br/>
<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
